.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.switch-btn {
    position: relative;
    top: 3px;
}

.deleteDiv {
    display: inline-flex;
    height: 32px;
    position: absolute;
}

.add-btn {
    background: #282c34 !important;
    color: white;
    width: 60%;
    opacity: 0.9;
}